extends ../layout

block content
  .container.mt-4
    .row
      .col-md-4
        .card.h-100
          .card-img-container
            if season.PosterURL
              img.card-img-top(src=season.PosterURL, alt=season.Title)
            else
              .no-image-placeholder
                i.fas.fa-image
          .card-body.h-100
            h3.card-title= season.Title
            p.card-text Season #{season.SeasonNumber}
            if season.ReleaseDate
              p.card-text Release Date: #{new Date(season.ReleaseDate).toLocaleDateString()}
            if season.EpisodeCount
              p.card-text Episodes: #{season.EpisodeCount}
            .btn-group
              a.btn.btn-warning(href=`/contents/${season.ContentID}/seasons/${season.SeasonID}/edit`) Edit
              form.d-inline(action=`${season.ContentID}/seasons/${season.SeasonID}?_method=DELETE`, method="POST")
                button.btn.btn-danger(type="submit") Delete


      .col-md-8

        if episodes && episodes.length > 0
          //- .table-responsive
          table.table.table-hover.table-striped.table-bordered
            thead
              tr
                th Episode
                th Title
                th Duration
                th Release Date
                th Actions
            tbody
              each episode in episodes
                tr
                  td= episode.EpisodeNumber
                  td= episode.Title
                  td= episode.Duration ? `${episode.Duration} min` : 'N/A'
                  td= episode.ReleaseDate ? new Date(episode.ReleaseDate).toLocaleDateString() : 'N/A'
                  td
                    .btn-group
                      a.btn.btn-sm.btn-outline-primary(href=`/contents/${season.ContentID}}/seasons/${season.SeasonID}/episodes/${episode.EpisodeID}/edit`)
                        i.bi.bi-pencil
                      button.btn.btn-sm.btn-outline-danger(type='button' onclick=`deleteEpisode(${episode.EpisodeID})`)
                        i.bi.bi-trash
        else
          .alert.alert-info.mt-3 Không có tập phim nào trong season này.